[![Binder](https://mybinder.org/badge.svg)](https://mybinder.org/v2/gh/treehouse-projects/python-introducing-pandas/master?filepath=s2n2-selecting-data.ipynb)

# Selecting Data

Oftentimes you'll want to grab a subset of records that meet a certain criteria. You can do this by indexing the `DataFrame` much like you've seen done with a `NumPy.ndarray`.

In [1]:
import os
import pandas as pd

users = pd.read_csv(os.path.join('data', 'users.csv'), index_col=0)
# Pop out a quick sanity check
len(users)

467

CashBox uses a referral system, everyone you refer will earn you $5 credit. Let's see if we can find everyone who hasn't yet taken advantage of that deal. The number of referrals a user has made is defined in the **`referral_count`** column.

In [2]:
# This vectorized comparison returns a new `Series`, which we are naming so we can use it later
no_referrals_index = users['referral_count'] < 1
# See how the boolean `Series` returned includes all rows from the `DataFrame`.
#  The value is the result of each comparison
no_referrals_index.head()

aaron.wrightaaron6549    False
abanks                   False
abarnes                  False
achristensen             False
acole                    False
Name: referral_count, dtype: bool

Using the boolean `Series` we just created, **`no_referrals_index`**, we can retrieve all rows where that comparison was True.

In [3]:
users[no_referrals_index].head()

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
ahenry,Angela,Henry,angela@yahoo.com,True,2018-03-09,0,30.41
amber,Amber,NaN,amber@gmail.com,True,2018-01-30,0,33.12
amber.carteramber2778,Amber,Carter,carter@yahoo.com,True,2018-05-31,0,58.68
anderson7178,Jonathan,Anderson,janderson@gmail.com,True,2018-06-02,0,8.15
beverly.taylorbeverly9627,Beverly,Taylor,beverly@gmail.com,False,2018-09-07,0,1.60

## Inversed index
A handy shortcut is to prefix the index with a `~` (tilde). This returns the inverse of the boolean `Series`. While I wish that the `~` was called "the opposite day" operator, it is in fact called `bitwise not` operator.

In [4]:
~no_referrals_index.head()

aaron.wrightaaron6549    True
abanks                   True
abarnes                  True
achristensen             True
acole                    True
Name: referral_count, dtype: bool

In [5]:
# Use the inverse of the index to find where referral values DO NOT equal zero
users[~no_referrals_index].head()

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
aaron.wrightaaron6549,Aaron,Wright,aaron.wrightaaron6226@gmail.com,True,2018-01-30,6,32.12
abanks,Anthony,Banks,banks@garrett-ramsey.com,True,2018-04-07,3,0.86
abarnes,Ashley,Barnes,ashley@mcbride.com,True,2018-01-05,2,89.01
achristensen,Amanda,Christensen,amanda@yahoo.com,False,2018-03-27,1,42.67
acole,Anthony,Cole,anthony.coleanthony2659@hotmail.com,True,2018-05-17,3,85.40

## In `loc`
Boolean `Series` as an index may also be used as an index the `DataFrame.loc` object.

In [6]:
# Select rows where there are no referrals, and select only the following ordered columns
users.loc[no_referrals_index, ['balance', 'email']].head()

                           balance                email
ahenry                       30.41     angela@yahoo.com
amber                        33.12      amber@gmail.com
amber.carteramber2778        58.68     carter@yahoo.com
anderson7178                  8.15  janderson@gmail.com
beverly.taylorbeverly9627     1.60    beverly@gmail.com

It is also possible to do the comparison inline, without storing the index in a variable.

In [7]:
users[users['referral_count'] == 0].head()

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
ahenry,Angela,Henry,angela@yahoo.com,True,2018-03-09,0,30.41
amber,Amber,NaN,amber@gmail.com,True,2018-01-30,0,33.12
amber.carteramber2778,Amber,Carter,carter@yahoo.com,True,2018-05-31,0,58.68
anderson7178,Jonathan,Anderson,janderson@gmail.com,True,2018-06-02,0,8.15
beverly.taylorbeverly9627,Beverly,Taylor,beverly@gmail.com,False,2018-09-07,0,1.60

Just like a NumPy `ndarray`, it's possible for a boolean `Series` to be compared to another boolean `Series` using bitwise operators.

**NOTE**: Remember to surround your expressions with parenthesis to control the order of operations.

In [8]:
# Select all users where they haven't made a referral AND their email has been verified
users[(users['referral_count'] == 0) & (users['email_verified'] == True)].head()

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
ahenry,Angela,Henry,angela@yahoo.com,True,2018-03-09,0,30.41
amber,Amber,NaN,amber@gmail.com,True,2018-01-30,0,33.12
amber.carteramber2778,Amber,Carter,carter@yahoo.com,True,2018-05-31,0,58.68
anderson7178,Jonathan,Anderson,janderson@gmail.com,True,2018-06-02,0,8.15
cathy,Cathy,Beck,cathy@hotmail.com,True,2018-01-12,0,47.36

# Practice Challenge 
CashBox wants to know the top referrers with verified email addresses, so that they can send them some more motivational emails. Currently, anyone with **5 or more** referrals is considered a top referrer.

In [9]:
## CHALLENGE - Find the top referrers ##
# Select users that have a referral count greater than or equal to 5 and have verified emails 
users

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
aaron.wrightaaron6549,Aaron,Wright,aaron.wrightaaron6226@gmail.com,True,2018-01-30,6,32.12
abanks,Anthony,Banks,banks@garrett-ramsey.com,True,2018-04-07,3,0.86
abarnes,Ashley,Barnes,ashley@mcbride.com,True,2018-01-05,2,89.01
achristensen,Amanda,Christensen,amanda@yahoo.com,False,2018-03-27,1,42.67
acole,Anthony,Cole,anthony.coleanthony2659@hotmail.com,True,2018-05-17,3,85.40
acortez,Alyssa,Cortez,cortez8509@yahoo.com,True,2018-06-21,2,77.34
acosta,Christian,Acosta,christian.acostachristian7501@gmail.com,True,2018-06-21,6,83.46
adam,Adam,NaN,adam@hotmail.com,True,2018-02-20,1,44.98
adam.fergusonadam5149,Adam,Ferguson,ferguson@hotmail.com,True,2018-05-20,2,92.47
adrian,Adrian,Lamb,adrian@yahoo.com,True,2018-07-26,6,30.01
afrancis,Anthony,Francis,francis@gmail.com,True,2018-03-10,2,57.85
agarcia,Ashley,Garcia,ashley.garciaashley1832@gmail.com,True,2018-03-15,4,23.28
aharrison,Alexander,Harrison,aharrison@yahoo.com,True,2018-03-09,3,52.97
ahenry,Angela,Henry,angela@yahoo.com,True,2018-03-09,0,30.41
alex,Alex,Sparks,asparks@hotmail.com,True,2018-07-02,5,19.84
alex.powellalex7302,Alex,Powell,alex.powellalex4785@yahoo.com,False,2018-07-23,3,92.50
alexandria,Alexandria,Hooper,ahooper@yahoo.com,True,2018-05-22,3,44.02
alexis,Alexis,Vaughn,vaughn@gmail.com,True,2018-09-07,3,14.20
alexis.smithalexis707,Alexis,Smith,alexis.smithalexis3771@gmail.com,True,2018-07-23,2,34.03
amanda.holmesamanda8747,Amanda,Holmes,amanda.holmesamanda4@gmail.com,True,2018-06-22,7,87.07
amber,Amber,NaN,amber@gmail.com,True,2018-01-30,0,33.12
amber.brownamber8932,Amber,Brown,abrown@hotmail.com,True,2018-06-13,6,53.21
amber.carteramber2778,Amber,Carter,carter@yahoo.com,True,2018-05-31,0,58.68
amy,Amy,NaN,amy@gmail.com,True,2018-08-16,3,78.31
amy.johnsonamy2479,Amy,Johnson,johnson@hotmail.com,True,2018-01-30,5,59.94
anderson7178,Jonathan,Anderson,janderson@gmail.com,True,2018-06-02,0,8.15
andre,Andre,Shelton,andre@yahoo.com,True,2018-04-23,3,91.09
angela.castroangela8662,Angela,Castro,castro2780@yahoo.com,True,2018-04-20,1,43.11
anthony,Anthony,Klein,anthony@yahoo.com,True,2018-01-29,3,69.57
aparker,Alexis,Parker,alexis.parkeralexis8723@hotmail.com,True,2018-06-14,4,50.19
...,...,...,...,...,...,...,...
tina,Tina,Allen,allen@gmail.com,True,2018-03-09,1,6.81
tjohnson,Tyler,Johnson,tyler.johnsontyler7545@gmail.com,True,2018-05-31,5,23.95
todd,Todd,NaN,todd@hotmail.com,True,2018-05-08,2,26.10
torres,Jeremy,Torres,torres4381@hotmail.com,True,2018-03-17,3,68.74
tran,Christopher,Tran,christopher.tranchristopher7146@yahoo.com,False,2018-04-09,0,23.43
troy.kingtroy8809,Troy,King,troy@gmail.com,False,2018-06-13,6,2.19
tsimpson,Theresa,Simpson,theresa.simpsontheresa7402@hotmail.com,True,2018-04-08,6,17.31
vanessa.hodgevanessa4504,Vanessa,Hodge,vanessa.hodgevanessa3527@hotmail.com,True,2018-01-19,6,23.56
vjohnson,Vanessa,Johnson,vjohnson@johnston.com,False,2018-01-28,3,57.75
vwilliams,Vicki,Williams,vicki.williamsvicki7047@hotmail.com,True,2018-07-20,1,68.36
walker,Jason,Walker,jwalker@gmail.com,True,2018-08-04,5,88.40
wall,Kyle,Wall,wall@yahoo.com,True,2018-05-17,7,40.41
wallace,Caitlin,Wallace,cwallace@gmail.com,True,2018-07-02,6,92.77
ward,Caleb,Ward,ward2040@mcfarland.info,True,2018-01-07,5,54.50
washington28,Cheryl,Washington,cwashington@yahoo.com,True,2018-04-22,6,79.19
watson5009,Elizabeth,Watson,ewatson@gmail.com,True,2018-01-15,1,81.95
wells4649,Brett,Wells,brett.wellsbrett6186@hotmail.com,True,2018-01-15,2,37.40
wendy.burtonwendy4557,Wendy,Burton,wendy@thompson.com,True,2018-03-07,6,30.75
whitaker2027,Gwendolyn,Whitaker,whitaker9463@gmail.com,False,2018-08-09,7,66.28
whitehead5149,Joe,Whitehead,whitehead@ross-santiago.com,True,2018-01-03,3,63.76
william,William,NaN,william@hotmail.com,True,2018-08-10,3,40.99
william.garzawilliam9949,William,Garza,wgarza@gmail.com,True,2018-02-12,0,38.26
willis,Gina,Willis,gina@gmail.com,True,2018-03-10,3,16.42
wilson7767,Anna,Wilson,wilson@gmail.com,True,2018-04-29,0,53.47
wolfe203,Patricia,Wolfe,patricia.wolfepatricia3087@holland-smith.net,True,2018-08-10,7,17.50
woodard7048,Tara,Woodard,tara.woodardtara5593@gmail.com,True,2018-05-31,1,92.48
wu1837,Timothy,Wu,twu@hotmail.com,True,2018-07-26,4,87.51
wu7369,Laura,Wu,wu@hotmail.com,True,2018-01-27,1,97.97
young6385,James,Young,jyoung@andrews.com,False,2018-02-22,5,45.58
zachary.carsonzachary1147,Zachary,Carson,zachary@hotmail.com,True,2018-02-08,2,35.28

In [ ]:
from tests.helpers import check

check(__name__, 'Find the top referrers')